{:format-version 1
 :id "p-vs-np"
 :title "P versus NP"
 :status :open
 :official-source "https://www.claymath.org/millennium/p-vs-np/"
 :admission {:mechanisms #{:kernel-checked-formalization :external-human-review}}}
