{:format-version 1
 :id "poincare-conjecture"
 :title "Poincaré Conjecture"
 :status :solved
 :official-source "https://www.claymath.org/millennium/poincare-conjecture/"
 :admission {:mechanisms #{:primary-source-reproduction :external-human-review}}}
